<div class="basic">
  <h1>Teachers</h1>

  <%if Recommendation.exists?(:email => @user.email) %>
    <%recommendation = Recommendation.find_by_email(@user.email) %>
    <p><%= link_to "View your recommendation", recommendation_path(recommendation) %></p>
  <%else%>
    <p><%= link_to "New recommendations", new_recommendation_path%></p>


  <%end %>


  <%if Request.exists?(:email => @user.email) %>
    <%request = Request.find_by_email(@user.email) %>
    <p><%= link_to "View your request", request_path(request) %></p>
  <%else%>
    <p><%= link_to "New request", new_request_path%></p>


  <%end %>


</div>