---
title: Home page of Michael D. Bond
---
<!-- Home page created by Varenyam Kaushik -->
<h1>
  Home
</h1>
<!-- div created to create box around info -->
<div class = wrap>
  <!-- Use class miscp class from stylesheet to keep the design consistent across pages -->
  <p class ="miscp">
    <!-- Add image to home page -->
    <img src="/images/assist_resized.jpeg" alt ="Professor Bond standing in the forest holding his dog" id="fixed-width-image">
    <br>
      Michael D. Bond
    <br>
  <p class ="miscp">
    Associate Professor<br>
    Computer Science &amp; Engineering<br>
    The Ohio State University<br>
    <a href="mailto:mikebond@cse.ohio-state.edu">mikebond@cse.ohio-state.edu</a><br>
      Office: 697 Dreese Labs
  </p>
</div>

