---
title: Home page of Michael D. Bond
---

<h1>
  Home
</h1>

<div class = wrap>
  <p class ="miscp">
    <img src="/images/assist.jpeg" width ="200" alt ="Professor Bond standing in the forest holding his dog">
    <br>
      Michael D. Bond
    <br>
  <p class ="miscp">
    Associate Professor<br>
    Computer Science &amp; Engineering<br>
    The Ohio State University<br>
    <a href="mailto:mikebond@cse.ohio-state.edu">mikebond@cse.ohio-state.edu</a><br>
      Office: 697 Dreese Labs
  </p>
</div>

