---
title: Miscellaneous page of Michael D. Bond
---
<!-- Misc page created by Jacob Woods -->
<h1>
  Misc:
</h1>

<!-- div created to create box around info -->
<div class = wrap>
  <p class = "miscp">
    Major recent/upcoming activities:
  </p>

  <!-- used unordered list to format the programs -->
  <ul class="misclist">
    <li>Program committee, PLDI 2020</li>
    <li>Program committee, ASPLOS 2020</li>
    <li>Program committee, ASPLOS 2019</li>
    <li>Program committee, ISMM 2019</li>
  </ul>
</div>

<!-- display the links in an unordered list -->
<h2>
  Links:
</h2>

<ul class = "links">
  <li>
    <a href = "http://web.cse.ohio-state.edu/~mikebond/misc.html#activities">All activities</a>
  </li>
  <li>
    <a href = "http://web.cse.ohio-state.edu/~mikebond/misc.html#awards">Awards</a>
  </li>
  <li>
    <a href = "http://web.cse.ohio-state.edu/~mikebond/misc.html#funding">Funding</a>
  </li>
</ul>