<!DOCTYPE html>
<html lang = "en">
  <head>
    <title>
      Miscellaneous page of Michael D. Bond
    </title>
  </head>

  <body>
    <h1>
      Misc
    </h1>

    <p>
      Major recent/upcoming activities:
    </p>

    <ul>
      <li>Program committee, PLDI 2020</li>
      <li>Program committee, ASPLOS 2020</li>
      <li>Program committee, ASPLOS 2019</li>
      <li>Program committee, ISMM 2019</li>
    </ul>

    <a href = "http://web.cse.ohio-state.edu/~mikebond/misc.html#activities">All activities</a>
    <p>
      <a href =  "http://web.cse.ohio-state.edu/~mikebond/misc.html#awards">Awards</a>
    </p>
    <p>
      <a href = "http://web.cse.ohio-state.edu/~mikebond/misc.html#funding">Funding</a>
    </p>
  </body>
</html>