<!DOCTYPE html>
<html lang = "en">
  <head>
    <link rel="stylesheet" href="stylesheets/site.css.scss">
    <title>
      Research page of Michael D. Bond
    </title>
  </head>

  <body>
    <h1>
      Research
    </h1>

    <div class = wrap>

      <p class="miscp">
        My <a href = "http://web.cse.ohio-state.edu/~mikebond/plass.html"> research group </a>
        develops program analyses and software systems that make complex, concurrent software
        significantly more reliable, scalable, and secure than it is today.
      </p>

      <p class="miscp">
        General interest: programming languages, software and hardware systems, program analysis,
        compilers, security.
      </p>

      <p class="miscp">
        <a href="http://web.cse.ohio-state.edu/~mikebond/pubs.html"> Publications </a>
      </p>

      <p class="miscp">
        <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html"> Publicly available research software </a>
        (see "source code" for each paper)
      </p>

      <p class="miscp">
        Current advisees:
      </p>

      <ul class="misclist">
        <li>Kaan Genc (PhD student)</li>
        <li>Rui Zhang (PhD candidate)</li>
      </ul>

      <table>
        <caption> <b>Graduated advisees, with positions as of 2019</b> </caption>
        <tr>
          <th scope="col"> <b>Name</b> </th>
          <th scope="col"> <b>Education, Year earned</b> </th>
          <th scope="col"> <b>Position</b> </th>
        </tr>
        <tr>
          <td>Jake Roemer</td>
          <td>PhD, 2017</td>
          <td>Seeking industry and industrial research jobs</td>
        </tr>
        <tr>
          <td> <a href="http://web.cse.ohio-state.edu/~cao.235/"> Man Cao </a> </td>
          <td>PhD, 2017</td>
          <td>Google</td>
        </tr>
        <tr>
          <td> <a href="http://web.cse.ohio-state.edu/~sengupta.25/"> Aritra Sengupta </a> </td>
          <td>PhD, 2017</td>
          <td>Samsung Research America</td>
        </tr>
        <tr>
          <td> <a href="http://www.cse.iitk.ac.in/users/swarendu/"> Swarnendu Biswas </a> </td>
          <td>PhD, 2016</td>
          <td>IIT Kanpur (tenure-track faculty)</td>
        </tr>
        <tr>
          <td> <a href="http://zhangminjia.me/"> Minjia Zhang </a> </td>
          <td>PhD, 2016</td>
          <td>Microsoft Research</td>
        </tr>
        <tr>
          <td> <a href="http://huangjip.github.oi/"> Jipeng Huang </a> </td>
          <td>MS, 2014</td>
          <td>Google</td>
        </tr>
      </table>
    </div>
  </body>
</html>
