@import url('https://fonts.googleapis.com/css?family=Ubuntu:500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #121212;
  min-width: 1500px;
  overflow: auto;
}

.OSU_link {
  width: 4%;
}

.nav_links li a {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: whitesmoke;
  text-decoration: none;
  text-transform: uppercase;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  background-color: #bb0000;
}

.logo {
  cursor: pointer;
  max-width: 100%;
  max-height: 4%;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  margin-left: 100px;
  padding-top: 25px;
  position: relative;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: black;
}

.nav_links li a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: black;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

.nav_links li a:hover::before {
  width: 100%;
}

h1 {
  color: white;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 50px;
  margin: 10px;
  text-align: center;
}

h2 {
  color: white;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin: 10px;
  text-align: center;
}


p {
  color: white;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

p.miscp{
  color: white;
  font-weight: bold;
  text-align: center;

}

p.titlep{
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
}

p.resp {
  color: white;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}

p.newsp {
  color: white;
  font-weight: bold;
  text-align: left;
  padding-bottom: 30px;
}

ul.misclist{
  border-style: solid;
  border-width: 4px;
  text-align: center;
  list-style-type: circle;
  margin: 10px 450px 10px 450px;
  padding: 5px;

}

ul.links {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 25px;
  background: #bb0000;
  text-align: center;
  list-style-type: none;
  margin: 10px 0px 10px 0px;
  padding: 20px;

}

.wrap {
  margin: 10px 0px 10px 0px;
  background: #bb0000;
  vertical-align: auto;
  border-width: 5px;
  padding: 20px;
  font-size: 25px;
}
li {
  color: white;
  font-size: 25px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

table {
  text-align: left;
  font-size: 25px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

caption {
  padding-top: 60px;
  font-size: 40px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: darkslategray;
  color: white;
  font-weight: bold;
}

a:link{
  color: black;
}

a:visited{
  color: black;
}

a:hover{
  color: darkgray;
}

tr {background-color: indianred}

tr:nth-child(even) {background-color: lightgray;}

tr:hover {background-color: white;}

th, td {
  border: 1px solid black;
  padding: 8px;
}
//Specifies the height of the image used in the home page
#fixed-width-image {width: 200px;}
