<div class="basic">
<h1>Admin</h1>
  <p><Strong>View students log:</Strong>
<%= link_to "Student Applications", 'students#index' %></p>
  <p><Strong>View Courses:</Strong>
<%= link_to "Current Courses", 'courses#index' %></p>
  <p><Strong>View all Users:</Strong>
<%= link_to "View Users", 'users#index' %></p>
</div>